<!DOCTYPE html>
<html ng-app="myApp">
  <!--
      This demo shows how to create a single page application (SPA)
      using angular.js v1.6.3 routing in a single page application
      without a server.

      Everything works just like the standard demos except
      for two things:

        1. You need to use the ! in the hrefs.
        2. You need to put the HTML templates in this file
           to avoid AJAX requests.

      It also demonstrates my lame implementation of a very
      simple horizontal navbar.
    -->
  <head>
    <meta charset="utf-8" />
    <title>Ng Routing Demo</title>
    <link rel="stylesheet" type="text/css" media="screen" href="button.css">
    <link rel="stylesheet" type="text/css" media="screen" href="navbar.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="angular-route.js"></script>
    <script type="text/javascript" src="angular-sanitize.js"></script>
  </head>
  <body>
    <header>
      <nav ng-controller="navCtrl">
        <!-- The ! is required as of angular-1.6.3. -->
        <a href="#!/home"    class="navtab-inactive" ng-click="activate($event)">Home</a>
        <a href="#!/fileio"  class="navtab-inactive" ng-click="activate($event)">File IO</a>
        <a href="#!/about"   class="navtab-inactive" ng-click="activate($event)">About</a>
        <a href="#!/contact" class="navtab-inactive" ng-click="activate($event)">Contact</a>
      </nav>
    </header>

    <!-- Let the templates and controllers do everything. -->
    <ng-view></ng-view>

    <!--
        Define the HTML files in-line here.

        This avoids the Cross Origin Resource String (CORS) errors that
        occur when accessing this installation using file://.
      -->

    <!-- id must match templateUrl in $routeProvider. -->
    <script type="text/ng-template" id="templates/welcome.html">
      <div id="welcome_page">
        <h2>Welcome</h2>
        <p>
          This demo shows how to create a single page application
          (SPA) using angularjs 1.6.3 <i>without</i> a webserver. You
          can access it in your browser by navigating to:
          <b><code>{{ url }}</code></b>.
        </p>
        <p>
          To avoid CORS (Cross Origin Resource String) erros from the
          browser, it embeds the HTML for the separate pages in the
          index.html file.
        </p>
        <p>
          Click on any of the above navigation entries to see
          the different logical pages.
        </p>
        <p>
          This demo requires HTML5 and angularjs 1.6.3. It has been tested
          on the following browsers.
          <ol>
            <li>Chrome:  56.0.2924.87 (64-bit)</li>
            <li>Firefox:  52.0.2 (64-bit)</li>
            <li>Safari:   10.1 (12603.1.30.0.34)</li>
          </ol>
        </p>
      </div>
    </script>

    <script type="text/ng-template" id="templates/home.html">
      <div id="home_page">
        <h2>Home</h2>
        <p>
          {{ message }}
        </p>
        <p>
          If you really loved the welcome page, click <a href="#!/">here</a>.
        </p>
      </div>
    </script>

    <script type="text/ng-template" id="templates/about.html">
      <div id="about_page">
        <h2>About</h2>
        <!-- Note: to inject HTML, you must have the $sanitize service avalable. -->
        <p ng-bind-html="message"></p>
      </div>
    </script>

    <script type="text/ng-template" id="templates/contact.html">
      <div id="contact_page">
        <h2>Contact</h2>
        <!-- Note: to inject HTML, you must have the $sanitize service avalable. -->
        <p ng-bind-html="message"></p>
      </div>
    </script>

    <script type="text/ng-template" id="templates/fileio.html">
      <div id="fileio_page">
        <h2>File IO</h2>
        <h3>Overview</h3>
        <p>
          This page demonstrates how local file reads and writes work
          for client side only applications.
        </p>
        <div id="fileio_more" style="display: none;">
          <label for="fileio_less_button" class="button">Less...</label>
          <input type="button" id="fileio_less_button" style="display: none;" />
          <p>
            File IO for client size app[lications does not work
            like file read/writes in native applications because of
            browser security constraints. What that means in practice is
            that your browser must support HTML5, ES6 (javascript) and
            that you cannot create an arbitrary file on disk without a
            file dialogue popup or an automatic download to a download
            area. The browser preferences determine which approach is
            taken.
          </p>
          <p>
            Click the Upload button to upload a file. A file dialogue will
            popup. Select a file from it and the file content will
            then be displayed in the Text Area.
          </p>
          <p>
            To download a file create it's content by uploading a file,
            clicking on the Lorem button or entering text manually. Then
            click the Download button. Your browser settings will
            determine whether a file dialogue pops up. If you have not
            specified a file dialogue, a file will be created in your
            default downloads area.
          </p>
          <p>
            The Clear button clears the text area and any
            upload/download messages.
          </p>
          <p>
            The Lorem button inserts some text into the text area for
            download testing.
          </p>
        </div>
        <div id="fileio_less" style="display: inline;">
          <label for="fileio_more_button" class="button">More...</label>
          <input type="button" id="fileio_more_button" style="display: none;" />
        </div>
        <hr>
        <h3>Worksheet</h3>
        <p>
          <!--
              Load a local file, workaround the CORS problem related
              from the standalone input tag.
            -->
          <label for="fileio_upload" class="button">Upload</label>
          <input type="file" id="fileio_upload" style="display: none;" />
          <label><i>A file dialogue will pop up.</i></label>
          <br />
          <br />
          <label for="fileio_download_button" class="button">Download</label>
          <input type="button" id="fileio_download_button" style="display: none;" />
          <input type="text" id="fileio_download" value="test.txt" style="font-size: 14px;">
          <label><i>Your browser preferences determine whether a file save dialogue pops up.</i></label>
        </p>
        <code>Text Area Used for File Data</code><br />
        <textarea id="fileio_content" rows="10" cols="80" style="white-space: pre; font-size: 11pt; font-family: courier, monospace;"></textarea>

        <!-- could use a button here but want to have a consistent interface -->
        <br />
        <label for="fileio_clear" class="button">Clear</label>
        <input type="button" id="fileio_clear" style="display: none;" />

        <label for="fileio_lorem" class="button">Lorem</label>
        <input type="button" id="fileio_lorem" style="display: none;" />

        <!-- message -->
        <div id="fileio_message" style="font-size: 11pt;"></div>
      </div>
    </script>

    <script type="text/ng-template" id="templates/x404.html">
      <div id="x404_page">
        <h2>Page not found</h2>
      </div>
    </script>

    <!-- Include our site specific code. -->
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
<!-- Copyright (c) 2017 by Joe Linoff -->
<!-- License: MIT Open Source -->
<!-- Project: https://github.com/jlinoff/aspa-nows -->
